<p>auth works!</p>
<div>{{data}}</div>
<div class="btn-group col-xs-12 col-md-6 col-md-offset-3" role="group" aria-label="Basic example">
  <div class="btn-group mr-7" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary" (click)="test()">test</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-success" (click)="transfer()">transfer</button>
    <button type="button" class="btn btn-info" (click)="login()">login</button>
  </div>
</div>
