<p>two works!</p>

<div class="list-group">
  <a routerLink="/two/0" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Bob's Data</h5>
      <small>{{counter}} seconds ago</small>
    </div>
    <p class="mb-1">
      This is an example of 1 working
    </p>
    <small>Small text...</small>
  </a>
  <a routerLink="/two/1" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Sue's Data</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>

<p>
  <a routerLink="/two/3">3</a>
</p>

<p>
  <a routerLink="/two/30">30</a>
</p>

<router-outlet></router-outlet>
